* {
  box-sizing: border-box;
}
textarea {
  line-height: inherit;
}

.van-toast--default {
  width: auto;
  min-width: 90px;
}
.van-popup--right {
  height: 100%;
  width: 100%;
}
.change-cell-title-width-default .van-field .van-cell__title {
  max-width: 3.2rem;
}
.change-cell-title-width-large .van-field .van-cell__title {
  max-width: 4.5rem;
}
.change-field__error-message .van-field__error-message {
  text-align: right;
}
.change-cell__value .van-cell__value {
  text-align: start;
}
.change-center-y-cell__value .van-cell__value {
  display: flex;
  justify-content: flex-end;
}
.change-field__body .van-field__body {
  margin-top: 5px;
}
.change-button-background .van-button--primary {
  background-image: url('../assets/button.png');
  background-size: 100% 100%;
  height: 40px;
  line-height: 40px;
}
.change-radio .van-radio__label {
  font-size: 16px;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}
.flex-center-x {
  display: flex;
  justify-content: center;
}
.flex-center-y {
  display: flex;
  align-items: center;
}
.flex-center-xy {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dot {
  position: absolute;
  transform: translateX(-50%);
  transform-origin: 0 center;
  top: -4px;
  right: -8px;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background: #ed4014;
  z-index: 10;
  box-shadow: 0 0 0 1px #fff;
}